header,
.detail-box,
.back,
#submit-review-button,
.add-review-button,
.edit-button,
#cancel-button {
  color: white;
  background-color: #405880;
}

li,
header,
.back,
#submit-review-button,
h1,
.add-review-button,
.edit-button,
#text-confirm,
#cancel-button,
#confirm-button,
#delete-button {
  font-family: Quicksand, sans-serif;
}

.back,
#submit-review-button,
.add-review-button,
.edit-button,
#cancel-button,
#delete-button,
#confirm-button {
  border: none;
}

#delete-button,
#confirm-button,
.text-p,
a,
h2, {
  color: white;
}

h1,
.container-green,
#text-confirm {
  justify-content: center;
}

img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.text-p,
h2,
.h1-no-reviews {
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

.align-items,
.container-green {
  align-items: center;
}

.text-center {
  text-align: center;
}

.list-tab,
textarea,
#text-confirm {
  font-weight: bold;
}

.container-green {
  background-color: #6e9553;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bolder;
}

h2 {
  background-color: #6e9553;
}

.taviraj {
  font-family: Taviraj, serif;
  text-align: justify;
}

.detail-box {
  font-weight: 100;
  margin-top: 2rem;
}

ul {
  list-style: none;
  line-height: 1.5rem;
  padding-left: 1rem;
}

textarea {
  width: 100%;
  border: solid 3px black;
  font-family: Taviraj, serif;
  font-size: 1.2rem;
}

#submit-review-button {
  width: 5rem;
  height: 1.5rem;
}

#p-reviews {
  font-family: Taviraj, serif;
  margin-top: 0;
}

#h2-reviews {
  background-color: none;
}

.marginli {
  margin-bottom: 4rem;
}

.button-details-page {
  justify-content: space-between;
}

.h1-no-reviews {
  font-weight: 500;
}

.dark-modal {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
}

#confirm-modal {
  background-color: white;
}

#confirm-button {
  background-color: #dc2626;
}

.visibility-hidden {
  visibility: hidden;
}

.space-between {
  justify-content: space-between;
}
