li,
header,
.back,
#submit-review-button,
h1,
.add-review-button,
.edit-button,
#text-confirm,
#cancel-button,
#confirm-button,
#delete-button {
  font-family: Quicksand, sans-serif;
}

.back,
#submit-review-button,
.add-review-button,
.edit-button,
#cancel-button {
  border: none;
  background-color: #405880;
  color: white;
}

header,
textarea {
  font-size: 1.2rem;
}

header,
.detail-box {
  color: white;
  background-color: #405880;
}

img {
  cursor: pointer;
}

.text-p,
a,
h2 {
  color: white;
}

.text-p,
h2,
.h1-no-reviews {
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

.align-items,
.container-green {
  align-items: center;
}

.text-center {
  text-align: center;
}

.list-tab,
.container-green,
textarea,
#text-confirm {
  font-weight: bold;
}

.container-green,
h2 {
  background-color: #6e9553;
}

h2,
#p-reviews {
  font-size: 1rem;
}

.text-p {
  font-size: 0.8rem;
}

.taviraj,
textarea,
#p-reviews {
  font-family: Taviraj, serif;
}

.taviraj {
  text-align: justify;
}

.detail-box {
  font-weight: 100;
  margin-top: 2rem;
}

ul {
  list-style: none;
  line-height: 1.5rem;
  padding-left: 1rem;
  font-size: 0.8rem;
  width: 90%;
  margin: auto;
}

textarea {
  width: 100%;
  border: solid 3px black;
}

#submit-review-button,
#delete-button {
  width: 5rem;
  height: 1.5rem;
}

h1 {
  font-size: 1.6rem;
}

#p-reviews {
  margin-top: 0;
}

.h2-reviews {
  background-color: none;
}

.h2-reviews,
#margin-bottom-h2,
.container-green {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.marginli {
  margin-bottom: 4rem;
}

.button-details-page,
.space-between,
.justify-content {
  justify-content: space-between;
}

.add-review-button {
  font-weight: lighter;
}

.h1-no-reviews {
  font-weight: 500;
  font-size: larger;
}

.edit-button,
.add-review-button,
.taviraj {
  font-size: 0.7rem;
}

.dark-modal {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
}

#confirm-modal {
  background-color: white;
  font-size: 0.85rem;
}

#confirm-button,
#delete-button {
  background-color: #f41b0d;
  border: none;
  color: white;
}

#margin-bottom-h2 {
  height: 2rem;
}

.align-button {
  justify-content: flex-end;
  margin-top: 1rem;
}

.justify-content-center,
#text-confirm,
.h2-reviews h1,
.container-green {
  justify-content: center;
}

#film-banner,
img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (min-width: 768px) {
  #delete-button {
    background-color: #405880;
  }

  h2,
  .text-p {
    font-size: 1.5rem;
  }

  header {
    font-size: 1.6rem;
  }

  .taviraj {
    font-size: 1rem;
  }

  .h2-reviews {
    height: 2rem;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
