header {
  color: white;
  font-family: Quicksand, sans-serif;
  background-color: #405880;
}

img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.text-p {
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.align-items {
  align-items: center;
}

.text-center {
  text-align: center;
}

#films-list {
  display: flex;
  flex-wrap: wrap;
}

.list-tab {
  font-weight: bold;
}

.container-green {
  background-color: #6e9553;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bolder;
}

h2 {
  background-color: #6e9553;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.taviraj {
  font-family: Taviraj, serif;
  text-align: justify;
}

li {
  font-family: Quicksand, sans-serif;
}

.detail-box {
  background-color: #405880;
  color: white;
  font-weight: 100;
  margin-top: 2rem;
}

ul {
  list-style: none;
  line-height: 1.5rem;
  padding-left: 1rem;
}

.back {
  border: none;
  background-color: #405880;
  color: white;
  font-family: Quicksand, sans-serif;
}

textarea {
  width: 100%;
  border: solid 3px black;
  font-family: Taviraj, serif;
  font-weight: bold;
  font-size: 1.2rem;
}

#submit-review-button {
  background-color: #405880;
  color: white;
  border: none;
  width: 5rem;
  height: 1.5rem;
  font-family: Quicksand, sans-serif;
}

h1 {
  font-family: Quicksand, sans-serif;
  justify-content: center;
}

#p-reviews {
  font-family: Taviraj, serif;
  margin-top: 0;
}

#h2-reviews {
  background-color: none;
}

.marginli {
  margin-bottom: 4rem;
}

.button-details-page {
  justify-content: space-between;
}

.add-review-button {
  background-color: #405880;
  color: white;
  border: none;
  font-family: Quicksand, sans-serif;
}

.h1-no-reviews {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}
